body{
    background-color: skyblue;
    font-family: Arial, sans-serif;
    margin: 350px;
}
h1 {
    color: darkblue;
    font-size: 28px;
    text-align: center;
}
div#formulario {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input#data-de-nascimento{
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="radio"] {
    margin: 0 10px;
}
input#botao {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input#botao:hover {
    background-color: #45a049;
}
div#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
img#papai, img#mamae, img#eu, img#lili, img#may, img#mel, img#gata, img#lilo, img#tio , img#bebel, img#vovo , img#paulinho, img#titia {
    border-radius: 10px;
    width: 250px;
    height: auto;
    display: block;
    margin: 10px auto;
}
footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
